language: node_js
node_js:
- '4'
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.9
    - g++-4.9
before_install:
- export CC="gcc-4.9" CXX="g++-4.9"
deploy:
  provider: npm
  email: support@kuzzle.io
  api_key:
    secure: ylYay6gwQdDs1IjNTcvf8uqFbVo3a895bXFunAMHFCfSBDAhauobdZhLyUERIVQWa2hlERNScgsGPCz+HoIV4lwyIB5iH6LPmRS/yPmc1gbCAwXQegJeJkWp4nP1fHG4/7vUPo3D9EyW7ke+G4sH3bKujsud/nrhmVD+Wq69uoG9E0PauFpPFvHd+8fju+oC8gcWmMR5Py5PKI6k+ztLOC+vkdfDlSJMtqdtTNjXDSk5ldyD/d7PX915QRpVXqdEXvsOfb03r98+s+rUMIhuh/EGtAXxLBSCwkGYLPBQn0hW8y2EwJ1uYek9BY0XNq5rzZriVw+u3j7vqJ135FuVZovBXQqnKuWmTUPfK1R8/u4zk3Mszpe/8fc8CddSQLsA2FK0otlCFc8XqSdfdXgwtyP5NlE0gru2vvhrDbP1B1M8zTpS6yJ3eUMHrpfPrzRYHy+Bmpi/sSdWg0Tj0A9nEpV8SU+3CFpQl/nOvl6ZgcGhEFOxOfnRaowkPxt02M5obczWEGsf+ErhYmbyTDpKzqHHDCNceAmOfbrqfspQgLPfWnWbnU9reNKuqqu1yyOiwHdSkn/TrVR4AMUufaV/ZxzWZY8KzWoOS0YzhcQlQkXNwfV3gvqnzLQVBgpYSJrzPInvy9DhzR4WgtUni+qITVyG17ZkWLH6QS4PLWATPCY=
  on:
    repo: kuzzleio/boost-geospatial-index
    branch: master
